*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration:none;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

*{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}


@media  (max-width: 900px){
    footer{
        font-size: 8px;
    }
    nav {
        font-size: 8px;
    }
}
